numpy
pandas
pyarrow>=14.0.0
tqdm
scikit_learn>=0.22.1
stanza>=1.5
# gensim>=3.7.2
gensim>=4.0.0
pathos
openai
wordninja
charset_normalizer
setuptools
html2text
bitermplus
bs4
pypandoc
PyPDF2>=3.0.0
langdetect
backoff
ratelimit
torch
scipy
openpyxl
sentence-transformers
readability-lxml
pdf2image
rapidfuzz
numba
multiprocess
# gensim>=3.7.2,<4.0.0
# stanfordnlp==0.2.0
# protobuf<3.20