numpy
pandas
pyarrow
tqdm
scikit_learn>=0.22.1
stanza>=1.5
gensim>=3.7.2
pathos
openai
wordninja
chardet
setuptools
html2text
bitermplus
bs4
pypandoc
PyPDF2
langdetect
backoff
ratelimit
torch
scipy
openpyxl
sentence-transformers
readability-lxml
pytesseract
pdf2image
# gensim>=3.7.2,<4.0.0
# stanfordnlp==0.2.0
# protobuf<3.20